body {
	/*background-image: url(../images/tesla.jpg);*/
	background-color: red;
	background-image:
	linear-gradient (
		rgba(243, 240, 240, .1),
		rgba(247, 247, 247, .1),
		url(../images/tesla.jpg),
		background-size: cover;
		);
		





}